.row-fluid
  - if Oneclick::Application.config.show_update_services && can?(:upload, EspReader)
    = link_to "Update Services", upload_esp_reader_index_path, {class: 'btn action-button btn-default pull-right', role: 'button'}

  %h1= t(:services)

= render 'table'

:javascript
  $(document).ready(function() {
    $('#admin_services_table').dataTable( {
          "oLanguage": {
              "sLengthMenu": "Display _MENU_ agencies per page",
              "sZeroRecords": "Nothing found - sorry",
              "sInfo": "Showing _START_ to _END_ of _TOTAL_ agencies",
              "sInfoEmpty": "Showing 0 to 0 of 0 agencies",
              "sInfoFiltered": "(filtered from _MAX_ total agencies)"
          },
          "sDom": "<'row'<'col-sm-6'f>><'row'<'col-sm-6'l>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
      } );
  } );
