.btns.pull-left
  = button_tag id: 'resetFilterPanel', class: 'btn action-button controls' do
    = t(:reset_filter_panel)
  = button_tag id: 'resetAllFilters', class: 'btn action-button controls' do
    = t(:reset_all_filters)