.btns.pull-left
  = button_tag id: 'resetAllFilters', class: 'btn action-button controls' do
    = t(:reset_all_filters)
:javascript
  $(document).ready(function(){
    $('.reset-filter-panel').on('click', function() {
      $(this).parents('.panel-body').find('.form-control').each(function(){
        $(this).val('');
      });
    });

    $('#resetAllFilters').on('click', function() {
      $('.filter-form .form-control').each(function(){
        $(this).val('');
      });
    });
  });