.row-fluid
  .span12
    %h6= t(:found_x_matches, count: results.count )

.row-fluid
  .search-dropdown-container
    .candidate-list.span10
      .js-candidate-list-inner{'data-offset' => '0'}
        %ul.nav.nav-list
          - results.each_with_index do |addr, index|
            %li
              %a.address-select{href: '#', data: {id: addr['id'], index: index, latlon: [addr['lat'], addr['lng']], desc: addr['description'], type: type, addr: addr['title']}= addr['title']

    .scroller-container.span2.pull-right
      .scroll-up.js-prev-btn
      .scrollbar
        .scrollbar-bar
          .scrollbar-scroll
      .scroll-down.js-next-btn
