
=simple_form_for @user_services[itinerary.id], :remote => true, :html => {id: 'outbound_association_form'}, :url => user_user_services_path(@traveler), :method => :post  do |f|
  .row
    %div.col-sm-12
      = f.input :external_client_id, label: translate_helper(:client_id), input_html: { value: "" }
      = f.input :service_id, :as => :hidden, input_html: {value: @user_services[itinerary.id].service.id}
      = f.input :user_id, :as => :hidden, input_html: {value: @traveler.id}
  .row
    %div.col-sm-12
      -if itinerary.service.booking_profile == BookingServices::AGENCY[:ecolane]
        =f.input :external_client_dob, label: translate_helper(:dob), placeholder: "mm/dd/yyyy"
      -if itinerary.service.booking_profile ==  BookingServices::AGENCY[:trapeze]
        =f.input :external_client_password, label: translate_helper(:password)
