- if @trip.itineraries.valid.hidden.count > 0
  %i.icon-exclamation-sign
  = t(:trip_options_hidden, :count => @trip.itineraries.valid.hidden.count)
  = link_to unhide_all_user_trip_path(@traveler, @trip) do
    = t(:unhide_all)
