%div{:class => "modal hide fade", :id => "transitDetails" + itinerary.id.to_s}
  %div{:class => "modal-header"}
    %a{:href => "/501.html"}
      %i.icon-reply.muted
    %a{"data-dismiss" => "modal"}
      %i.icon-remove.muted
  %div{:class => "modal-body"}
    = render :partial => 'trip_summary_header', :locals => { :itinerary => itinerary }
    %div{:class => "container-fluid"}
      %div{:class => "accordion", :id => "details" + itinerary.id.to_s}
        %div{:class => "accordion-group"}
          %div{:class => "accordion-heading"}
            %a{:class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#details" + itinerary.id.to_s, :href => "#collapseOne" + itinerary.id.to_s}
              %h4.text-center Trip Details
            %div{:class => "accordion-body collapse in", :id => "collapseOne" + itinerary.id.to_s}
              %div{:class => "accordion-inner"}
                = render :partial => itinerary['mode']+'_details', :locals => { :itinerary => itinerary }
  %div{:class => "modal-footer"}
    .row
      %a{:href => "/501.html"}
        %i.icon-print
      %a{:href => "/501.html"}
        %i.icon-comments
      %a{:href => "/501.html"}
        %i.icon-envelope
