%div.responsive-mbp.row-fluid
  .span4.info
    #left-description
      %h1 
        = t(:plan_a_trip)
      %h4 Tell us About Your Trip
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, assumenda, minima, soluta rerum voluptatum at ullam consectetur consequatur molestiae veniam vel eius iure recusandae molestias delectus officiis excepturi. Amet, fugiat.
    #left-results.hidden
      %h1 Overview
      %h4 Lorem Ipsum
      %h5 From
      %p.from n/a
      %h5 Destination
      %p.to n/a
      %h5 Date
      %p.date n/a
      %h5 Departure Time
      %p.time n/a
      %h5 Return Time
      %p.return n/a
      %h5 Purpose
      %p.reason n/a


  %div.span8plus.inputs
    .row-fluid
      -if @trip_proxy.errors.any?
        .row-fluid
          .span12
            %h4
              %div{:class => "alert alert-error"}
                %a.close{"data-dismiss" => "alert"} ×
                %div= t(:correct_errors_to_create_a_trip)



      .row-fluid    
        #trip_form.span12
          = render 'trip_form'
          #trip_map
            = render 'trip_map'  


:javascript
  // UI variables
  var trip_map_key = "trip_map_key";

  // Document Ready
  $(document).ready(function(){
    // open or close the map on load based on last state
    var trip_map_open = get_ui_key_value(trip_map_key, 0);
    //alert(trip_map_key + ' = ' + trip_map_open);
    if (trip_map_open == 1) {
      open_map();
    } else {
      close_map();
    }

    // install event handlers
    $('#map-icon').click(function(){
      var trip_map_open = get_ui_key_value(trip_map_key, 0);
      //alert(trip_map_key + ' = ' + trip_map_open);
      if (trip_map_open == 1) {
        // user is closing the map
        close_map();
      } else {
        // user is opening the map
        open_map();
      }
    }); 
    
  });
 
  function open_map() {
    //alert('opening map');
    // $('#trip_form').removeClass('span12');
    // $('#trip_form').addClass('span6');
    $('#trip_map').show();
    invalidateMap();
    $('#map-icon').removeClass('icon-map-marker');
    $('#map-icon').addClass('icon-play');
    // make sure no popups are currently being shown or they will get messed up
    closePopup();
    // refresh the map display
    setMapToBounds();
    set_ui_key_value(trip_map_key, 1);
  };
  
  function close_map() {
    //alert('closing map');
    // $('#trip_form').removeClass('span6');
    // $('#trip_form').addClass('span12');
    $('#trip_map').hide();
    $('#map-icon').removeClass('icon-play');
    $('#map-icon').addClass('icon-map-marker');
    set_ui_key_value(trip_map_key, 0);
  };
   
