%script{:type => "text/javascript"}
  $(document).ready(function() {
  fix_thumbnails();
  });
  $(window).resize(function() {
  fix_thumbnails();
  });
  function fix_thumbnails() {
  // remove any height attributes
  $(".thumbnail").css('height', '');
  $(".thumbnail").css('overflow', '');
  var window_width = $(window).width();
  adjust_thumbnails(window_width);
  };
  make_same_height('.thumbnail');


