%script{:type => "text/javascript"}
  $(document).ready(function() {
  make_same_height(".thumbnail");
  fix_thumbnail_margins();	
  });
  $(window).resize(function() {
  var window_width = $(window).width();
  alert(window_width);
  });


