.row-fluid
  -if itinerary.missing_information
    %h4
      %i.icon.icon-question-sign
      This service is intended for
      -count = 0
      -itinerary.missing_information_text.split('\n').each do |info|
        -count += 1
        -if itinerary.missing_information_text.split('\n').count - 1 == count
          =info + ' and '
        -elsif itinerary.missing_information_text.split('\n').count == count
          =info + '.'
        -else
          =info + ','

  -if itinerary.accommodation_mismatch
    %h4
      %i.icon.icon-warning-sign
      These accommodations are not met by this service:
    %ul
      -itinerary.missing_accommodations.split(',').each do |accommodation|
        %li
          =accommodation
  -if itinerary.too_late
    %h4
      %i.icon.icon-calendar
      = "This trip must be booked " + itinerary.service.human_readable_advanced_notice + " in advance."
  -if itinerary.date_mismatch or itinerary.time_mismatch
    %h4
      %i.icon.icon-calendar
      = "This trip occurs outside the normal hours for this service."

  .row-fluid.hidden
    ="SCORE: " + itinerary.match_score.to_s

  %span{style: 'font-style: italic'}
    (Detailed directions on contacting provider and scheduling trip will be given here.)
