-if itinerary.service.provider
  - provider_public_comments = itinerary.service.provider.public_comments.for_locale
  - if provider_public_comments && !provider_public_comments.comment.blank?
    .row
      .col-sm-12
        .well.well-sm.comments
          =provider_public_comments.comment.html_safe
-if itinerary.service.public_comments.for_locale and !itinerary.service.public_comments.for_locale.comment.blank?
  .row
    .col-sm-12
      .well.well-sm.comments
        =itinerary.service.public_comments.for_locale.comment.html_safe
-unless itinerary.cost_comments.blank?
  .row
    .col-sm-12
      .well.well-sm.comments
        =itinerary.cost_comments.html_safe
