%div{id: 'return_section'}
  .row.section_header
    .span12
      %a
        %h2
          = t(:return)
  .row.itineraries_holder
    = render :partial => 'trip_itineraries', :locals => {:itineraries => return_itineraries(@show_hidden),
      trip_part: @trip.return_part }
  - if @trip.return_part.has_hidden_options?
    .row
      .span12#outbound_hidden_trips_notice
        = render partial: 'hidden_trips_notice', locals: {trip_part: @trip.return_part}
