%table.center{:cellpadding=>10}
  %tr
    %td.itinerary_icons
      .center
        = t(:link_to_georgia_commute_options, url: link_to('Georgia Commute Options', rideshare_external_link(itinerary),
        target: '_new'), count: itinerary.count).html_safe  
