= simple_form_for @trip_proxy, :url => set_traveler_user_trips_path, :html => {:class => 'form-horizontal', :id => 'select_traveler_form'}  do |f|
  = f.input :traveler, :collection => current_user.travelers, :selected => @traveler.nil? ? "0" : @traveler.id, :include_blank => 'myself'

:javascript
  $("#trip_proxy_traveler").change(function() {
    $('#select_traveler_form').submit();
  });
