= simple_form_for :trip_proxy, :url => set_traveler_user_trips_path, :html => {:id => 'select_traveler_form'} do |f|  
  = f.input :traveler, :collection => current_user.confirmed_travelers, :label => translate_helper_translate(:assist), :selected => @traveler.id.to_s, :include_blank => translate_helper_translate(:myself), :input_html => {:style => "width:200px;"}

:javascript
  $("#trip_proxy_traveler").change(function() {
    $('#select_traveler_form').submitranslate_helper_translate();
  });
