= simple_form_for :trip_proxy, :url => set_traveler_user_trips_path, :html => {:id => 'select_traveler_form', :class => "form-horizontal"} do |f|  
  = f.input :traveler, :label => t(:assist) do
    = f.select :traveler, options_from_collection_for_select(current_user.travelers, :id, :name, :selected => @traveler.id.to_s), :include_blank => 'myself'

:javascript
  $("#trip_proxy_traveler").change(function() {
    $('#select_traveler_form').submit();
  });
