%table.center{:cellpadding=>10}
  -YAML.load(itinerary.message).each do |business|
    %tr
      %td.itinerary_icons
        %h4=business['name'] + ":  "
      %td.itinerary_text
        %h4=business['phone']