%a.span12.actionbutton{alt: get_trip_summary_title(itinerary.mode), title: get_trip_summary_title(itinerary.mode), href: '/501.html'}
  = render :partial => 'trip_summary_header', :locals => { :itinerary => itinerary }

  .row-fluid
    .pull-right{:style => "display: inline-block"}
      .span12.btn-toolbar
        %button.btn.btn-mini.btn-success
          %i.icon-search
          View
        %button.btn.btn-mini.btn-danger
          %i.icon-remove
          Remove 
        %button.btn.btn-mini.btn-info
          %i.icon-undo
          Reload
