/ - itineraries.valid.each_slice(4) do |itineraries|
%ul.thumbnails#itineraries
  - ItineraryDecorator.decorate_collection(itineraries.valid).each do |itinerary|
    %li.col-sm-3
      .thumbnail.actionbutton.shadow{:tabindex => -1, class: itinerary_thumbnail_class(itinerary)}

        .dialog-title-bar.corner-top
          .row
            .col-sm-12
              %h3.dialog-title{:style => "margin:0px;vertical-align:top;"}
                %i.fa{:class => get_trip_summary_icon(itinerary)}
                = get_trip_summary_title(itinerary)
                - if itinerary.hidden
                  %i.fa.fa-2x.fa-thumbs-down.pull-right
                
        .dialog-content{class: dialog_content_class(trip_part)}
          .row
            .col-sm-12
              = render :partial => 'trip_summary_header', :locals => { :itinerary => itinerary}

          -if itinerary.missing_information
            .row
              %i.fa.fa-question-circle
              =t(:more_information_required)
          -if itinerary.accommodation_mismatch
            .row
              %i.fa.fa-warning
              =t(:missing_accommodations)
          -if itinerary.date_mismatch or itinerary.time_mismatch or itinerary.too_late
            .row
              %i.fa.fa-calendar
              =t(:trip_not_possible_as_schedule)

        .dialog-footer.corner-bottom
          .row
            .pull-right
              .col-sm-12.btn-toolbar{:style => 'margin-bottom:0;margin-right:5px;'}
                =link_to select_user_trip_path(@traveler, @trip, :itin => itinerary.id), {:class => "btn btn-xs btn-info", :alt => get_alt_button_text(itinerary, 'select'), :title => get_alt_button_text(itinerary, 'select')} do
                  %i.fa.fa-check
                  =t(:select)
                =link_to itinerary_user_trip_path(@traveler, @trip, :itin => itinerary.id), {:class => "btn btn-xs btn-success", :remote => true, :alt => get_alt_button_text(itinerary, 'view'), :title => get_alt_button_text(itinerary, 'view') } do
                  %i.fa.fa-search
                  =t(:view_details1)
                =link_to hide_user_trip_path(@traveler, @trip, :itinerary => itinerary), {:class => "btn btn-xs btn-danger", :alt => get_alt_button_text(itinerary, 'remove'), :title => get_alt_button_text(itinerary, 'remove') } do
                  %i.fa.fa-times
                  =t(:hide)

      = render partial: 'send_itinerary_by_email', locals: {trip: @trip, itinerary: itinerary}
      
 
:javascript
  $(document).ready(function() {
    // Enable the quick links
    $('[data-action]').click(function() {
      var url = $(this).data('action');
      ajax_render_action(url, 'GET');
    });
  });
  