%a.span12.actionbutton{alt: get_trip_summary_title(itinerary.mode), title: get_trip_summary_title(itinerary.mode), href: '/501.html'}
  = render :partial => 'trip_summary_header', :locals => { :itinerary => itinerary }

  .row-fluid
    %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
