.modal.fade{id: "trip#{id}RatingModal", :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-footer
        %btn.btn.btn-default.action-button{data: {dismiss: "modal"}}= t(:close)