.modal.fade{id: "trip#{id}RatingModal", :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-footer
        %button.btn.action-button{data: {dismiss: "modal"}}= translate_helper_translate(:close)