$('#itineraries').html("#{escape_javascript(render 'trip_itineraries')}");
$('#hidden_trips_notice').html("#{escape_javascript(render 'hidden_trips_notice')}");
fix_thumbnails();
fix_thumbnail_margins();
