.row-fluid
  .span12
    %h1
      %i.icon.icon-tags
      = !assisting? ? 'My Trips' : "#{assisted_user.first_name}'s Trips"

.row-fluid
  .span8.offset2
    .row-fluid
      .span12
        %h3 Choose a saved trip
      .span12
        %div
          %table.table.table.condensed.table-striped.table-hover
            - @trips.each do |trip|
              %tr
                %td
                  = link_to trip, user_planned_trip_path(current_user, trip.planned_trips.last)
            
