.row.info-header
  .col-sm-6
    %h1= t(:trip)
  .col-sm-6.btns
    =link_to t(:plan), root_path, {class: 'btn action-button btn-default pull-right', role: 'button'}
= render partial: "trips_display_table", locals: {trips: @trips, traveler: @traveler, show_username: false}