.row.info-header
  .col-sm-12
    .btns.pull-right
      =link_to t(:plan), root_path, {class: 'btn action-button', role: 'button'}
    %h1=t(:trips)
.panel.panel-default{style: 'padding: 0px;'}
  .panel-heading
    %h2.panel-title= t(:trips)
  .panel-body
    = render partial: "trips_display_table", locals: {trips: @trips, traveler: @traveler, show_username: false}
