.row-fluid
  .span12
    %h1
      %i.icon.icon-tags
      = is_traveler ? t(:assisted_user_first_name_s_trips, name: @traveler.first_name) : t(:my_trips)
    
= render 'index_subnav'

- if @traveler.trips.count > 0
  .row-fluid
    .span8.offset2
      .row-fluid
        .span12
          %h4 Choose a saved trip
      .row-fluid
        .span12
          .thumbnail{style: 'height: 300px; overflow-y: auto;'}
            %table.table.table.condensed.table-hover
              - @trips.each do |trip|
                %tr
                  %td
                    = link_to trip, user_planned_trip_path(@traveler, trip.planned_trips.last)
- else
  .row-fluid
    .span12
      %h4 You have no previous trips.
      = link_to(t(:plan_a_trip), new_user_trip_path(@traveler))       
