.row-fluid
  .span12
    %h1
      %i.icon.icon-tags
      = !assisting? ? 'My Trips' : "#{assisted_user.first_name}'s Trips"
    
= render 'index_subnav'

= render :partial => 'shared/trips_table', :locals => {:trips => @trips}
