$('#itinerary_modal').html("#{escape_javascript(render 'trip_details_modal')}");
$('#itinerary_modal').modal({show: true, keyboard: false});
$('#itinerary_modal').on('shown.bs.modal', function() { CsMaps.lmap.invalidateMap(); CsMaps.lmap.show(); })
