-# TODO These should go in header/footer; and also need to be in edit mode
= stylesheet_link_tag 'tadaaapickr'
= stylesheet_link_tag 'jquery.timepicker'
-# Don't need these, they get compiled into application.js
-#= javascript_include_tag 'tadaaapickr.pack.min'
-#= javascript_include_tag 'jquery.timepicker.min'

%h1
  %i.icon-bus-sign
  Plan a Trip

= render 'form'

