= image_tag get_logo, :style => "height:30px;"
= translate_helper_translate(:site_title)

%hr

%p You have tried to print an invalid trip.

:javascript
  $(document).ready(function() {
    window.print();
  });
