.row{style: "padding: 0px;"}
  .col-xs-8
    = render partial: 'shared/trip_plan_breadcrumbs'
  .col-xs-4
    = button_tag :type => 'button', :id => "planBUtton", :class => "btn btn-default pull-right action-button", :style => "margin-right: 5px;" do
      =t(:plan)
- if @tripResponseHash['status'] == 0
  - # flash handles it
- else
  #reviewBaseContainer.row
    .col-xs-12.form-group.hidden-md-lg
      %button#legendButton.btn.btn-default.pull-left.action-button{style: "margin-right: 5px;"} Show Legends
      %button#filterButton.btn.btn-default.pull-left.action-button Show Filters
    #accessoryContainer.col-md-3.col-xs-12
    / end of filter column
    .col-md-9      
      #tripContainer.col-xs-12{style: "padding: 0px;"}
      / end of trip container
    / end of review columns
  #itinerary_modal.modal.fade{"role" => "dialog", "data-back" => "static", "tabindex" => "-1", "aria-hidden" => "true"}
  :javascript
    $(function() {
      //show or hide legends when click Filter button
      $('#legendButton').on('click', function(e) {
        e.preventDefault();
        var $legendDiv = $('#legendDiv');
        if($legendDiv.hasClass('hidden-xs-sm')) {
          $('#legendDiv').removeClass('hidden-xs-sm');
          $(this).text('Hide Legends');
        } else {
          $('#legendDiv').addClass('hidden-xs-sm');
          $(this).text('Show Legends');
        }
      });

      $('#filterButton').on('click', function(e) {
        e.preventDefault();
        var $filterDiv = $('#filterDiv');
        if($filterDiv.hasClass('hidden-xs-sm')) {
          $('#filterDiv').removeClass('hidden-xs-sm');
          $(this).text('Hide Filters');
        } else {
          $('#filterDiv').addClass('hidden-xs-sm');
          $(this).text('Show Filters');
        }
      });

      var tripResponse = #{@tripResponse.to_json};
      var pageRenderer = new TripReviewPageRenderer(30, 20, tripResponse);
      pageRenderer.processTripResponse();

      $('#itinerary_modal').on('shown.bs.modal', function() {
        if(typeof(CsMaps) === 'object' && CsMaps != null && CsMaps.review_map != null) { 
          var mapObj = CsMaps.review_map;
          mapObj.invalidateMap(); 
          var mapMarkers = mapObj.LMmarkers;
          var mapBounds = null;
          if(mapMarkers.length > 0) {
            mapBounds = mapObj.calcMapBounds(mapMarkers);
          } else {
            mapBounds = mapObj.LMbounds;
          }

          if(mapBounds) {
            mapObj.LMmap.fitBounds(mapBounds); 
          }
        }
      });

      //Plan button to jump to Plan page
      var no_plan_alert = '#{t(:select_a_plan_each_trip_part)}';
      $('#planButton').on('click', function(e) {
        var selectedPlanIds = [];
        var tripParts = $('#tripContainer').find('.single-trip-part');
        var selectedPlans = tripParts.find('.single-plan-selected');
        if(tripParts.length != selectedPlans.length) {
          show_alert(no_plan_alert);
          return;
        }

        var selectedPlanIds = [];
        selectedPlans.each(function() {
          var tmpPlanId = parseInt($(this).attr('data-plan-id'));
          if(typeof(tmpPlanId) === 'number' && !isNaN(tmpPlanId)) {
            selectedPlanIds.push(tmpPlanId);
          }
        });

        //jump to Plan page
        window.location.href = ( window.location.href + '/plan?itinids=' + selectedPlanIds.toString() );
      }); 
    });