
= image_tag get_logo
%h1{:style => 'display:inline;vertical-align:middle;'}
  %strong
    = t(:site_title)

%hr

%table{style: "font-size:1.4em;"}
  %tr
    %td{style: "color:grey;"}
      %strong
        = t(:from) + ':  '
    %td
      %strong
        =@trip.from_place.name
  %tr
    %td{style: "color:grey; weight:strong;"}
      %strong
        =t(:to) + ':  '
    %td
      %strong
        =@trip.to_place.name
  %tr
    %td{style: "color:grey;"}
      %strong
        =t(:at_time)
    %td
      %strong
        =format_date(@trip.trip_datetime.in_time_zone)

- ItineraryDecorator.decorate_collection(@trip.itineraries.selected).each do |itinerary|
  - Rails.logger.info itinerary.ai
  = render :partial => 'trip_single_plan_details', :locals => {:itinerary => itinerary, :for_db => false}

%hr{style: "height:12px; background:#848484;"}
%table
  %tbody
    %tr
      %td="Thank you for using " + Oneclick::Application.config.name + " Software."
    %tr
      %td="Provided by Cambridge Systematics, 100 Cambridge Park Dr, Cambridge MA 02140 on behalf of " + Oneclick::Application.config.name

:javascript
$(document).ready(function() {
      window.print();
});
