%p#notice= notice

.row
  .span12.center
    -#.container-fluid
    - @trip.valid_itineraries.each_slice(3) do |itineraries|
      .row-fluid
        .span12
          %ul.thumbnails
            - itineraries.each do |itinerary|
              %li.span4
                -#.container-fluid
                .row-fluid
                  = render :partial => itinerary['mode'] + '_summary', :locals => { :itinerary => itinerary}

= link_to new_trip_path do
  %i{class: CsHelpers::ACTION_ICONS[:plan_a_trip]}
  = t(:plan_a_trip)
