%ol#wizards.breadcrumb
  %li.breadcrumb-page.prev-page
    %a{href: "#"} Trip
  %li.breadcrumb-page.prev-page
    %a{href: "#"} Options
  %li.breadcrumb-page.current-page Review
  %li.breadcrumb-page.next-page Plan
- if @tripResponse.status == 0
  .row
    .col-sm-12
      %h4= t(:no_trips_found)

- else
  .row
    .col-xs-12.form-group.visible-xs
      %button#filterButton.btn.btn-default.pull-left.action-button Show Filters
      :javascript
        $(function () {
          //show or hide filters when click Filter button
          $('#filterButton').on('click', function(e) {
            e.preventDefault();
            var $filterDiv = $('#filterDiv');
            if($filterDiv.hasClass('hidden-xs')) {
              $('#filterDiv').removeClass('hidden-xs');
              $(this).text('Hide Filters');
            } else {
              $('#filterDiv').addClass('hidden-xs');
              $(this).text('Show Filters');
            }
          });
        });
    #filterDiv.col-md-3.col-xs-12.hidden-xs
      #filterContainer.col-sm-12.well{style: "padding: 0px;"}
    / end of filter column
    .col-md-9
      .col-xs-12.page-action-button-container
        #legendContainer.col-xs-10{style: "padding: 0px; height: 100%;"}
        %button.btn.btn-default.pull-right.action-button Plan
      #tripContainer.col-xs-12{style: "padding: 0px;"}
        #tickLabelContainer.col-xs-12{style: "padding: 0px;"}
      / end of trip container
    / end of review columns
#itinerary_modal.modal.fade{"role" => "dialog", "data-back" => "static", "tabindex" => "-1", "aria-hidden" => "true"}
:javascript
  $(function() {
    var tripResponse = #{@tripResponse.to_json};
    var pageRenderer = new TripReviewPageRenderer(30, 20);
    pageRenderer.processTripResponse(tripResponse);

    //click chart to show details in modal dialog
    d3.selectAll("rect")
      .on("click", function(tripLeg){
        if(typeof(tripLeg) === 'object' && tripLeg != null) {
          var planId = tripLeg.planId;
          $.ajax({
            url: window.location.href + '/../itinerary', //TODO: what is the best way to get itinerary? 
            data: {itin: planId},
            success: function(result) {
              if(CsMaps != null && CsMaps.lmap != null) {
                CsMaps.lmap.resetMap();
              }
              $('#itinerary_modal').html(result); 
              $('#itinerary_modal').modal({keyboard: false});
              $('#lmap').css('height', '300px');
              CsMaps.lmap.invalidateMap();
              CsMaps.lmap.showMap();
            }
          })
        }
      })
  });