-# Takes a boolean new_service, a boolean active, and then either a service service, or a mode mode.
-mode = new_service ? mode : service.service_type.code
-service = new_service ? nil : service

.tab-pane.panel-body{role: 'tabpanel',
      id: (new_service ? "new-#{mode}-service-tab-content" : "service-#{service.id}-tab-content"),
      class: (active ? "active" : "") + " " + (new_service ? "new-service-tab-pane" : "")}
  = render partial: "admin/services/service_form_mode_#{mode}", locals: {new_service: new_service, service: service}
