%h1
  %i.icon-edit
  -if @create_inline
    = 'Create an account to save your information.'
  -else
    = t(:sign_up)

-if @create_inline
  = render partial: 'devise/registrations/form'

-else
  = render partial: 'devise/registrations/form'
