!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "1-Click Application", :name => "description"}/
    %title Trip
    / Bootstrap core CSS
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "datetimepicker/bootstrap-datetimepicker.css", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "stylesheets/arc.css", :media => "all", :rel => "stylesheet"}/
    / Dependent JS Libs
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
  %body
    #wrap
      #publicNav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
        .container-fluid
          %div{:class => ".navbar-header"}
            %a#logo.navbar-brand{:href => "/en", :style => "text-indent:-9999px;"} Logo
            .pull-right
              %a#help{:href => "/501"}
                %i.fa.fa-question-circle
                %span.sr-only Help
            %button.navbar-toggle{"data-target" => "#userMenuNavbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only User menu
              %span.icon-bar
              %span.icon-bar
          / end of navbar-header
          #userMenuNavbar.collapse.navbar-collapse.navbar-right
            %ul.nav.navbar-nav
              %li#userDropdown.dropdown
                %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown"}
                  Welcome, Guest
                  %b.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "/users/sign_in"}
                      Log In
                  %li
                    %a{:href => "/users/sign_up"}
                      Create An Account
          / end of collapse navbar-collapse
      / end of publicNav
      #main.container{:role => "main"}
        %ol#wizards.breadcrumb
          %li.activeStep Trip
          %li.nextStep Options
          %li.nextStep Review
          %li.nextStep Plan
        .row
          .col-md-8.col-sm-6
            .col-sm-12.well
              %form{:role => "form"}
                #tripOptions.col-sm-12.form-group
                  %label.col-sm-3{:style => "font-weight: normal;"}
                    %input{:checked => "", :name => "tripOptions", :type => "radio", :value => "roundTrip"}/
                    Round-trip
                  %label.col-sm-9{:style => "font-weight: normal;"}
                    %input{:name => "tripOptions", :type => "radio", :value => "oneWay"}/
                    One-way
                  :javascript
                    $(function () {
                    	$('#tripOptions :radio').change(function() {
                    		if(this.value === 'oneWay') {
                    			$('#returnDatetimeOptions').hide();
                    		} else {
                    			$('#returnDatetimeOptions').show();
                    		}
                    	});
                    });
                .col-sm-12.form-group
                  %label.col-sm-3.control-label Modes
                  #modePlaceholder.col-sm-9
                .col-sm-12.form-group
                  %label.col-sm-3.control-label{:for => "tripPurposeOptions"} Trip Purpose
                  .col-sm-9
                    %select#tripPurposeOptions.form-control{:name => "tripPurpose"}
                .col-sm-12.form-group
                  %label.col-sm-3.control-label Leaving From
                  .col-sm-9
                    .input-group
                      %label.control-label.sr-only{:for => "fromAddress"} Type the from address
                      %input#fromAddress.form-control{:name => "fromAddress", :type => "text"}/
                      %span.input-group-btn
                        %label.control-label.sr-only{:for => "fromAddressMarkerButton"} Click button to open the map and locate the from address
                        %button#fromAddressMarkerButton.btn.btn-default{"data-target" => "#mapModal", "data-toggle" => "modal", :type => "button"}
                          %i.fa.fa-map-marker
                      #mapModal.modal.fade.active.col-sm-12{"aria-describedby" => "map to select location", :role => "dialog", :tabindex => "-1"}
                        .modal-dialog
                          .modal-content
                            .modal-body
                              #lmap.map{:style => "height:500px;"}
                .col-sm-12.form-group
                  %label.col-sm-3.control-label Going To
                  .col-sm-9
                    .input-group
                      %label.control-label.sr-only{:for => "toAddress"} Type the to address
                      %input#toAddress.form-control{:name => "toAddress", :type => "text"}/
                      %span.input-group-btn
                        %label.control-label.sr-only{:for => "toAddressMarkerButton"} Click button to open the map and locate the to address
                        %button#toAddressMarkerButton.btn.btn-default{"data-target" => "#mapModal", "data-toggle" => "modal", :type => "button"}
                          %i.fa.fa-map-marker
                .col-sm-12.form-group
                  %label.col-sm-3.control-label{:for => "outboundOptions"} Outbound
                  .col-lg-3.col-md-4
                    %select#outboundOptions.form-control{:name => "outboundOptions"}
                      %option Departing At
                      %option{:selected => ""} Arriving At
                  .col-lg-6.col-md-5.col-sm-12{:style => "padding: 0px;"}
                    #outbound-trip-date.col-md-6.controls
                      %label.control-label.sr-only{:for => "trip_proxy_outbound_trip_date"} Type or select the outbound date
                      %input#trip_proxy_outbound_trip_date.form-control{:label => "false", :name => "trip_proxy[trip_date]", :type => "text"}/
                      :javascript
                        $(function () {
                        	$('#trip_proxy_outbound_trip_date').datetimepicker({
                        		defaultDate: new Date(),
                        		pickTime: false
                        	});
                        });
                    .col-md-6
                      %label.control-label.sr-only{:for => "trip_proxy_outbound_trip_time"} Type or select the outbound time
                      %input#trip_proxy_outbound_trip_time.form-control{:label => "false", :name => "trip_proxy[trip_time]", :type => "text"}/
                #returnDatetimeOptions.col-sm-12.form-group
                  %label.col-sm-3.control-label{:for => "returnOptions"} Return
                  .col-lg-3.col-md-4
                    %select#returnOptions.form-control{:name => "returnOptions"}
                      %option{:selected => ""} Departing At
                      %option Arriving At
                  .col-lg-6.col-md-5.col-sm-12{:style => "padding: 0px;"}
                    %label.control-label.sr-only{:for => "trip_proxy_return_trip_date"} Type or select the return date
                    .col-md-6
                      %input#trip_proxy_return_trip_date.form-control{:label => "false", :name => "trip_proxy[trip_date]", :type => "text"}/
                      :javascript
                        $(function () {
                        	$('#trip_proxy_return_trip_date').datetimepicker({
                        		defaultDate: new Date(),
                        		pickTime: false
                        	});
                        });
                    .col-md-6
                      %label.control-label.sr-only{:for => "trip_proxy_return_trip_time"} Type or select the return time
                      %input#trip_proxy_return_trip_time.form-control{:label => "false", :name => "trip_proxy[trip_time]", :type => "text"}/
                .col-sm-12.form-group
                  %label.col-sm-3.control-label Travellers
                  .col-md-4.col-sm-9
                    %label.control-label.sr-only{:for => "travellersOptions"} Select how many travellers
                    %select#travellersOptions.form-control{:name => "travellers"}
                .col-sm-12.form-group
                  %button.btn.btn-default.active.pull-right{:type => "submit"} Search
          / end of trip column
          .col-md-4.col-sm-6
            #cmsPlaceholder.well
              TODO:(CMS)
          / end of CMS column
      / end of main
      #footer
        #feedback.col-xs-12
          .pull-left
            %a{:href => "http://www.fta.dot.gov/grants/13094_13528.html", :target => "_blank"} More About This Initiative
          .pull-right
            %a{:href => "mailto://1-Click@camsys.com"} Send your Feedback
        #versionLang.col-xs-12
          .pull-left
            %span#versionInfo Version
          .pull-right
            English
            |
            %a{:href => "/es"} En Espanol
      / end of footer
    / end of wrap
    / Dependent JS Libs
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %script{:src => "datetimepicker/moment.js"}
    %script{:src => "datetimepicker/bootstrap-datetimepicker.js"}
