
.row-fluid
  %ul
    -if itinerary.cost_comments and itinerary.cost
      %li
        %h4
          Additional cost details:
        =itinerary.cost_comments.html_safe

    -if itinerary.missing_information
      %li
        This service is intended for
        -count = 0
        -itinerary.missing_information_text.split('\n').each do |info|
          -count += 1
          -if itinerary.missing_information_text.split('\n').count - 1 == count
            =info + ' and '
          -elsif itinerary.missing_information_text.split('\n').count == count
            =info + '.'
          -else
            =info + ','

    -if itinerary.too_late
      %li
        = "This trip must be booked " + itinerary.service.human_readable_advanced_notice + " in advance."
    -if itinerary.date_mismatch or itinerary.time_mismatch
      %li
        = "This trip occurs outside the normal hours for this service."

  -if itinerary.accommodation_mismatch
    %h4
      These accommodations are not provided by this service:
    %ul
      -itinerary.missing_accommodations.split(',').each do |accommodation|
        %li
          =accommodation

%span{style: 'font-style: italic'}
  (Detailed directions on contacting provider and scheduling trip will be given here.)
