%table.center
  %tr
    %td
      %b
        =itinerary.service.name + " - "  + itinerary.service.phone
%br

- if itinerary.service.public_comments
  .row
    .col-sm-12
      .well.well-sm.comments
        - itinerary.service.public_comments.each do |comment|
          = comment.comment.html_safe
          %br

- if itinerary.service.fare_structures
  - itinerary.service.fare_structures.each do |fare|
    -if fare.comments.for_locale
      .row
        .col-sm-12
          .well.well-sm.comments
            = fare.comments.for_locale.comment.html_safe