='Blacklisted Google Places Upload Succeeded'

%div.row
  ='This file is located at: '
  %a{href: Oneclick::Application.config.blacklisted_places_file}
    =Oneclick::Application.config.blacklisted_places_file


