%h4=t(:hello) +"  On " + format_date(@trip.created_at.in_time_zone) + " you used the 1-Click Trip Planner to plan a trip for " + format_date(@trip.trip_parts.first.trip_time.in_time_zone) + ",  #{t(:from)} " + @trip.from_place.name + " " + t(:to) +" " + @trip.to_place.name + ". " + t(:solicit_feedback)

%hr
%h3
  =link_to new_rating_from_email_user_trip_url(user_id: @trip.user_id, id: @trip.id, :hash => @trip.md5_hash, taken: true) do
    =t(:success_feedback_link)
%h3
  =link_to new_rating_from_email_user_trip_url(user_id: @trip.user_id, id: @trip.id, :hash => @trip.md5_hash, taken: false) do
    =t(:no_trip_taken_feedback_link)
%hr

%h4= t(:thanks_for_responding)

%table
  %tbody
    %tr
      %td= t(:do_not_reply)
    %tr
      %td= "Sent by Cambridge Systematics, 100 Cambridge Park Dr, Cambridge MA 02140 on behalf of " + Oneclick::Application.config.name