%h3="Trip request from " + @traveler.name

%hr{style: "height:12px; background:#848484;"}
%h3
  =@type
%table{style: "font-size:1.4em;"}
  %tr
    %td{style: "color:grey;"}
      %strong
        From
    %td
      %strong
        =@trip.from_place.name
  %tr
    %td{style: "color:grey; weight:strong;"}
      %strong
        To
    %td
      %strong
        =@trip.to_place.name
  %tr
    %td{style: "color:grey;"}
      %strong
        At
    %td
      %strong
        =format_date(@trip_part.trip_time.in_time_zone)
  %tr
    %td{style: "color:grey;"}
      %strong
        Depart
    %td
      %strong
        =format_time(@trip_part.trip_time.in_time_zone)
  -if @return
    %tr
      %td{style: "color:grey;"}
        %strong
          Return
      %td
        %strong
          =format_time(@return.in_time_zone)

%hr{style: "height:12px; background:#848484;"}
%h2="Passenger Information"
%table{style: "font-size:1.4em;"}
  %tr
    %td{style: "color:grey; weight:strong;"}
      Name
    %td
      =@traveler.name
  %tr
    %td{style: "color:grey; weight:strong;"}
      Email Address
    %td
      =@traveler.email
  %tr
    %td{style: "color:grey; weight:strong;"}
      Comments
    %td
      =@comments



%hr{style: "height:12px; background:#848484;"}
%h2="Service Information"
%h3
  -if @itinerary.mode.code == 'mode_paratransit'
    =@itinerary.service.name
    %h3
      =@itinerary.service.provider.name
  -else
    =@itinerary.mode.name
%h3
  =@provider.email

%hr
%h3
  Summary:
= render :partial => 'trip_summary_header', :locals => { :itinerary => @itinerary }

%hr
%h3
  Details:
= render :partial => get_trip_partial(@itinerary), :locals => { :itinerary => @itinerary }

%hr{style: "height:12px; background:#848484;"}
%table
  %tbody
    %tr
      %td= t(:specific_email_footer).to_s
    %tr
      %td= t(:generic_email_footer).to_s.gsub('%{application_name}', Oneclick::Application.config.name).gsub('%{break}', '</br>').html_safe
