%h1
  ="Hello #{@user.first_name} #{@user.last_name}"

Someone has requested a link to change your password. You can do this through the link below.

%br
  =link_to "Change my password", @reset_password_path

%br
  If you didn't request this, please ignore this email.

%br
  Your password won't change until you access the link above and create a new one.