%table
  %tbody
    %tr
      %td= t(:traveler_confirm_email_header).to_s

=cms_snippet_content('traveler_confirm_email')

%table
  %tbody
    %tr
      %td= t(:traveler_confirm_email_footer).to_s
    %tr
      %td= t(:generic_email_footer).to_s.gsub('%{application_name}', Oneclick::Application.config.name).gsub('%{break}', '</br>').html_safe
