= translate_helper_translate(:traveler_decline_email_header).to_s
%br
=cms_snippet_contentranslate_helper_translate('traveler_decline_email')
%br
= translate_helper_translate(:traveler_decline_email_footer).to_s
