// PA/YATA brand-lib. Variables and mixins definitions only. No styles.

$btn-primary-bg: #008442;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$breadcrum-current-step-bg-color: #00427B;