.btn-group
  %button.btn.action-button.dropdown-toggle{"type" => "button", "data-toggle" => "dropdown", "aria-expanded" => "false"}
    %i.fa.fa-wrench
    = title
    %b.caret
  = render partial: 'admin/admin_home/admin_dropdown_menu_items', locals: { :available_actions => available_actions}
