%a.dropdown-toggle{"href" => "#", "data-target" => "#", "data-toggle" => "dropdown", role: 'button', 'aria-haspopup' => 'true', tabindex: "#{available_actions == admin_actions ? "2" : "3"}"}
  %i.fa.fa-wrench
  =title
  %b.caret
%ul.dropdown-menu{role: 'menu'}
  - available_actions.each do |action|
    - next unless show_action(action)
    %li
      = link_to action[:target], method: (action[:method] || 'get') do
        %i{class: action[:icon]}
        = action[:label]
