%ul.dropdown-menu{role: 'menu'}
  - available_actions.each do |action|
    - next unless show_action(action)
    %li
      = link_to action[:target], method: (action[:method] || 'get') do
        %i{class: action[:icon]}
        = action[:label] 