%ul.dropdown-menu{role: 'menu'}
  - available_actions.each do |action|
    - next unless show_action(action)
    %li
      = link_to action[:target], target: action[:window] || "" do
        %i{class: action[:icon]}
        = action[:label] 