- if inline
  .alert.alert-info.alert-block
    .row-fluid
      .span12
        %p
          ARC recommends that you provide, if known, information about your status, program eligibility,
          and travel requirements so that the best travel options
          for you can be selected.
        %p
          This information is used solely within One-Click
          and is not used for any other purposes
          or by any other systems.
        / = t(:to_see_best_options)
    .row-fluid
      .span12
        %a.btn.btn-success{:alt => 'alt words', :title => 'title here', :href => skip_user_trip_path(@traveler, @trip_id)}
          %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
          No thanks, just plan my trip
          / = t(:no_thanks_just_plan_it)
