- if inline
  %span#eligibility.row-fluid
    .span8.offset2
      .title-container
        .bar
        %h3 In order to plan a trip with your needs in mind, would you please tell us about yourself?

      %a#no{:href => skip_user_trip_path(@traveler, @trip_id), :name => "yesno", :value => "no"} No
      %a#yes{:href => "#", :name => "yesnopandameat", :value => "yes"} Yes