%h1
  %i{class: "icon #{CsHelpers::ACTION_ICONS[:travel_profile]}"}
  = t(:travel_profile)
%h4
  .tab-pane#tab5
    .well#accommodations
      = render partial: 'characteristics/form',  :locals => {path: user_characteristic_path(@traveler, @user_characteristics_proxy.id),remote: true}
