.row{style: "padding: 0px;"}
  .col-xs-8
    = render partial: 'shared/trip_plan_breadcrumbs'
  .col-xs-4
    = button_tag :type => 'submit', :id => 'planTrip', :class => "btn btn-default pull-right action-button",
      tabindex: 2 do
      =t(:next)
      :javascript
        $('#planTrip').click(function() {
          $('.user-characteristics').submit();
        });

.row
  .col-sm-7.col-xs-12
    = render partial: 'form', :locals => {:path => user_characteristic_path(@traveler, @user_characteristics_proxy.id, inline: 1), :inline => true}

  / end of options column
  = render partial: 'shared/splash'
