%ol#wizards.breadcrumb
  %li.breadcrumb-page.prev-page 
    %a{href: "#"}Trip
  %li.breadcrumb-page.current-page Options
  %li.breadcrumb-page.next-page Review
  %li.breadcrumb-page.next-page Plan

.row
  .col-sm-7.col-xs-12
    = render partial: 'form', :locals => {:path => user_characteristic_path(@traveler, @user_characteristics_proxy.id, inline: 1), :inline => true}

  / end of options column
  = render partial: 'shared/splash'
