.row-fluid
  .span12
    %h1
      %i.icon.icon-paper-clip
      = t(:to_see_best_options)

.row-fluid{:style => "margin-top:20px;"}
  .well.well-small
    = render partial: 'characteristics/form',  :locals => {:path => user_characteristic_path(@traveler, @user_characteristics_proxy.id), :inline => true}
