// IEUW brand-lib. Variables and mixins definitions only. No styles.
$is-header-gradient-based: true;
$header-gradient-start-color: #819BCE; 
$header-gradient-end-color: #FFFFFF; 
// IEUW brand-lib. Variables and mixins definitions only. No styles.

$btn-primary-bg: #ED2229;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

$breadcrum-current-step-bg-color: #283694;