.leaflet-button-pressed{
  background-color: grey !important; 
}

.leaflet-street-view-icon {
	background-image: image-url('street_view.png');
	width: 16px;
	height: 24px;
}

/*trip leg polyline styles for each mode*/

.map-tripleg-walk {
  stroke: #763188;
  stroke-opacity: 0.8;
}

.map-tripleg-wait {
  stroke: #7f7979;
  stroke-opacity: 0.8;
}

.map-tripleg-transfer {
  stroke: #FEC800;
  stroke-opacity: 0.8;
}

.map-tripleg-subway {
  stroke: #409090;
  stroke-opacity: 0.8;
}

.map-tripleg-rail {
  stroke: #499bea;
  stroke-opacity: 0.8;
}

.map-tripleg-bus {
  stroke: #1AB940;
  stroke-opacity: 0.8;
}

.map-tripleg-taxi {
  stroke: #FEEA00;
  stroke-opacity: 0.8;
}

.map-tripleg-bike {
  stroke: #611CF3;
  stroke-opacity: 0.8;
}

.map-tripleg-bikeshare {
  stroke: #A61CF3;
  stroke-opacity: 0.8;
}

.map-tripleg-drive {
  stroke: #808CB4;
  stroke-opacity: 0.8;
}

.map-tripleg-car {
  stroke: #808CB4;
  stroke-opacity: 0.8;
}

.map-tripleg-rideshare {
  stroke: #F55416;
  stroke-opacity: 0.8;
}

.map-tripleg-paratransit {
  stroke: #FF9900;
  stroke-opacity: 0.8;
}

.map-tripleg-unknown {
  stroke: #C0C0C0;
  stroke-opacity: 0.8;
}
