/* override bootstrap-datetimepicker styles */
.timepicker-picker td span {
  width: 42px !important;
  height: 20px !important;
  line-height: 20px !important;
}
.bootstrap-datetimepicker-widget {
	width: auto;
}
.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  text-align: right;
}

/* override jQuery UI slider to not load image resource but only use bg color */
.ui-widget-content {
  background: white;
}
.ui-widget-header {
  background: #ccc;
}
.ui-slider {
  .ui-state-default {
    background: #e6e6e6;
  }
}

/* override bootstrap .img-responsive width on IE as setting width:100% stretch image all page wide */
.img-responsive {
  width: auto \9;
}

/* override leaflet-container to pick up application font settings */
.leaflet-container {
  @media(max-width:$screen-xs-max){
    font: $font-size-phone $font-family-phone !important;
  }
  @media(min-width:$screen-sm-min) and (max-width:$screen-sm-max){
    font: $font-size-tablet $font-family-tablet !important;
  }
  @media(min-width:$screen-md-min){
    font: $font-size-base $font-family-base !important;
  }
}

/* overwrite .form-control that has 100% width */
.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}
