// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.actionbutton {
  @extend .btn;
  cursor: pointer;
  overflow: auto;
  margin-top: 10px;
  min-height: 7.0em;
  p {
    margin-top: 0px;
    text-align: center;
  }
  img {
    float: left;
    margin-right: 5px;
  }
}

// TODO This should probably be limited to be within actions
.thumbnails > li {
  margin-bottom: auto;
}
