html, body{
  height: 100%;
}

// :focus {
//   outline: thin dotted #666666 !important;
// }

body, .btn, .form-control, .dropdown-menu{
  @media(max-width:$screen-xs-max){
    font-size: $font-size-phone;
    font-family: $font-family-phone;
  }
  @media(min-width:$screen-sm-min) and (max-width:$screen-sm-max){
    font-size: $font-size-tablet;
    font-family: $font-family-tablet;
  }
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height plus any margins */
  margin: 0 auto  $footer-height * -1;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
}

#main {
  width: 100%;
  padding-bottom: $footer-height;
}

#publicNav{
  @include header-background;
}

#navHeader a {
  display: inline-block;
}

.panel-title > a {
  color: $link-color;
}

#feedback{
  @include footer-feedback-background;
}

#versionLang {
  @include footer-version-background;
}

#logo{
  @media(max-width:$screen-sm-max){
    max-height: 50px;
  }
  @media(min-width:$screen-md-min){
    max-height: 60px;
  }
  cursor: pointer;
}

#main {
  @media(max-width:$screen-sm-max){
    padding-top: 60px;
  }
  @media(min-width:$screen-md-min){
    padding-top: 70px;
  }
}

#help i{
  @media(max-width:$screen-sm-max){
    line-height: 50px;
  }
  @media(min-width:$screen-md-min){
    line-height: 60px;
  }
  font-size: 40px;
}

#userMenuNavbar {
  @media(max-width:$screen-sm-max){
    line-height: 50px;
  }
  @media(min-width:$screen-md-min){
    line-height: 60px;
  }
}

// These are the bootstrap original sizes
// h1 { font-size: 36px; line-height: 40px; }
// h2 { font-size: 30px; line-height: 40px; }
// h3 { font-size: 24px; line-height: 40px; }
// h4 { font-size: 18px; line-height: 20px; }
// h5 { font-size: 14px; line-height: 20px; }
// h6 { font-size: 12px; line-height: 20px; }

h1 { font-size: 30px; line-height: 32px; }
h2 { font-size: 26px; line-height: 28px; }
h3 { font-size: 22px; line-height: 24px; }
h4 { font-size: 18px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.first-in-row {
  margin-left: 0 !important;
}

.dropdown-toggle {
  cursor: pointer;
}

.modal a {
  cursor: pointer;
}

.dialog-title-bar {
  background-color:#F5F5F5;
  padding:5px;
  margin-bottom: 10px;
}
.dialog-content {
  min-height: 175px;
  padding-left: 10px;
  padding-right:10px;
}
.one-note {
  min-height: 210px; // 196px; // 211px;
}

.two-notes {
  min-height: 245px; // 217px; // 247px;
}
.three-notes {
  min-height: 280px; // 238px; // 283px;
}

.dialog-body {
  border: 1px solid #F5F5F5;
  padding:20px 20px 0px 20px;
}
.dialog-footer {
  background-color:#F5F5F5;
  // padding:5px;
  // margin-top: 10px;
}

.corner-top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.corner-bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

a:hover#help {
  text-decoration: none;
}


.mode_title {
  font-weight: bold;
  //font-size: 1.5em;
}

#details-title {
  font-weight: bold;
  color: #0088cc;
}

.start_icon {
  color: #51e43f;
}

.end_icon {
  color: #e41011;
}

.section_header {
  a, a:hover{
    text-decoration: none;
    color: inherit;
  }
}

.selected_notices .alert {
  margin-bottom: 0px;
}

.itinerary_thumbnail_selected {
  border: solid green 1px;
}

.itinerary_icons {
  text-align: center;
  line-height: normal;
  font-size: 2.25em;
}

.itin_text_container {
  padding-left: 5px;
  padding-top: 10px;
}

.itinerary_text {
  text-align: left;
  line-height: 1em;
  padding: 0px;
  strong {
    top: 0;
    position: absolute;
  }
}

.itinerary_text_small{
  //font-size: 1em;
  // line-height: 0px;
  text-align: left;
  vertical-align: top;
  padding: 0px;
}

@media (min-width: 768px ) {
  .itineraries_holder li {
    min-width: 23em !important;
  }
}

.modal{
  max-height: 85%;
  overflow-y: auto;
  form {
    margin: 0;
  }
}

.trip_basic_text{
  //font-size: 1.5em;
  color: #0088cc;
  font-weight: bold;
  display: inline;

}

.trip_prepositions{
  //font-size: 1em;
  display: inline;
  font-weight: bold;

}

.errors #main {
  color: #00f;
  div.dialog {
    width: 25em;
    padding: 0 4em;
    margin: 4em auto 0 auto;
    border: 1px solid #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
    text-align: center;
  }
  h1 {
    font-size: 100%;
    color: #00f;
    line-height: 1.5em;
  }
  .the-icon-container {
    line-height: 4em;
    padding-top: 5px;
  }
  .the-icon {
    vertical-align: middle;
  }
}

.home.index {
  .actionbutton:hover {
    cursor: pointer;
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  }

  .home_menu_item {
    @extend .center;
    @extend .col-sm-3;
  }

}

.home.index.admin {
  .home_menu_item {
    @extend .col-sm-offset-6;
    @extend .col-sm-6;
  }
  .admin_menu {
    .home_menu_item {
      @extend .col-sm-6;
    }
  }
}


// trips specific CSS

.trips.show .actionbutton {
  height: auto;
}

.itinerary-item {
}

.trip_summary_header .row {
  line-height: normal;
  padding-bottom: 5px;
  [class*="span"] {
    min-height: 0;
  }
}

.candidate-label {
  margin-left: 5px;
  margin-right: 5px;
}

// Media queries for the show trips view
.trip_summary_icon {
  font-size: 4em;
  // Large desktop
  @media (min-width: 1200px) {
      font-size: 5em;
  }
  @media (min-width: 768px) and (max-width: 979px) {
      font-size: 4em;
  }
  @media (max-width: 767px ) {
    font-size: 6em;
    width: 100% !important;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 480px ) {
    font-size: 6em;
    width: 100% !important;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.trip_summary_text {
  @media (max-width: 767px ) {
    text-align: center !important;
  }
  @media (max-width: 480px ) {
    text-align: center !important;
  }
}

.trip_summary_title {
  @media (max-width: 767px ) {
    text-align: center !important;
  }
  @media (max-width: 480px ) {
    text-align: center !important;
  }
}

.dropdown-menu a {
  cursor: pointer;
}

.form-horizontal input + .help-block {
  margin-top: 1px;
  //font-size: 0.85em;
  color: #777777;
}

.registrations .form-horizontal .control-group {
  margin-bottom: 5px;
}

// TODO This might want to be more generally available
.registrations {
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }

  .nav-tabs {
    margin-bottom: 0;
  }
}

.well > h4 {
  margin-top: 0;
}

// See http://stackoverflow.com/a/13307817/222602
form.form-inline div.control-group {
  display: inline-block;
}
form.form-inline div.control-group div.controls {
  display: inline-block;
}
form.form-inline .control-label {
  margin-right: 5px;
}

td.right, th.right {
  text-align: right;
}
td.center, th.center {
  text-align: center;
}
td.left, th.left {
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}

.ignore-width {
  width: auto;
}

.cancel_link {
  margin-left:5px;
}

.map {
  border: 1px solid #E3E3E3;
}

.loading-indicator {
  margin-left: 5px;
  margin-top: 7px;
}
.shadow {
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

/*
* Absolute Centering
* Table cell approach
* See http://codepen.io/shshaw/full/gEiDt
*/

.Center-Container.is-Table { display: table; }
.is-Table .Table-Cell {
  display: table-cell;
  vertical-align: middle;
}
.is-Table .Center-Block {
  width: 50%;
  margin: 0 auto;
}

/* https://www.pivotaltracker.com/story/show/55010162 */
.dropdown-backdrop {
  position: static;
}

.no-bottom-margin{
  margin-bottom: 0px !important;
}

.control-group.disabled {
  font-style: italic;
}

.trip_header {
  .row [class*="span"] {
    min-height: 0;
  }
  line-height: normal;
  //font-size: 18px;
  font-weight: normal;
  margin: 0;
  .place_name {
    font-weight: bold;
  }
}

.top-margin{
  margin-top: 20px;
}

.trips.show .first-in-row { margin-left: 0 !important; }

.white-well{
  background: #FFFFFF;
}

.warning{
  color: red;
}

.service-picker{
  vertical-position: bottom;
}

.ALTtable{
  width:100%;
  border-collapse:collapse;
}
.ALTtable td{
  padding:7px; border:1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.ALTtable tr{
  background: #FFFFFF;
}
/*  Define the background color for all the ODD background rows  */
.ALTtable tr:nth-child(odd){
  background: whitesmoke;
}
/*  Define the background color for all the EVEN background rows  */
.ALTtable tr:nth-child(even){
  background: #FFFFFF;
}

.show .comments dd {
  margin-bottom: 1em;
}

#itinerary_modal .well.comments, .trips.plan  .well.comments {
  margin-top: 15px;
  margin-bottom: 5px;
}

.inline-radio .radio {
  display: inline-block;
  margin-right: 15px;
}

/* Printer Friendly */
@media print {
  #publicNav,#footer,#help{
    display: none;
  }
  #main {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  // not print href url
  a[href]:after {
    content: none !important;
  }
}

.print_map {
  background: white;
  border-radius: 5px;
  padding: 5px;
  img {
    display: block;
    margin: auto;
  }
}

#splash iframe {
  display: block;
  height: 600px;
  border: 1px solid #c0c0c0;
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.action-button {
  @extend .btn-primary;
  text-shadow: none;

  &:not(:last-of-type) {
    margin-right: 5px;
  }

  @media (max-width: $screen-xs-max) {
    min-width: 6em;
  }
  @media (min-width: $screen-sm-min) {
    min-width: 9em;
  }
  font-weight: bold;
}

.map-action-button {
  min-width: 3em !important;
}

// Styling for the application header (not navbar, this is where the action-buttons live)
.info-header {
  & h1, h2, h3, h4, h5 {
      margin-bottom: 0;
  }
  .btns {
    margin-top: $line-height-computed;
    margin-bottom: 6px;
  }
}

// Admin Pages
.stars{
  vertical-align: middle;
  padding-right: 5px;
  padding-left:  5px;
  .fa-2x {
    font-size: 1.5em;
    margin-top: 3px;
  }
  + .btn {
    margin-left: -5px;
  }
}

button[data-target='#deleteUserConfirmDialog'] {
  margin-right: 5px;

  @media screen and (max-width:1600px) and (max-height:900px) {
    margin-right: 0;
  }
}


// From bootstrap. We define our own classes for visibility which use display: inline
// instead of display: block.

// Responsive utilities
// -------------------------
// More easily include all the states for responsive-utilities.less.
// [converter] $parent hack
@mixin oc-responsive-visibility($parent) {
  #{$parent} {
    display: inline !important;
  }
  table#{$parent}  { display: table; }
  tr#{$parent}     { display: table-row !important; }
  th#{$parent},
  td#{$parent}     { display: table-cell !important; }
}

// [converter] $parent hack
@mixin oc-responsive-invisibility($parent) {
  #{$parent} {
    display: none !important;
  }
}

// Visibility utilities

@include oc-responsive-invisibility('.oc-visible-xs, .oc-visible-sm, .oc-visible-md, .oc-visible-lg');

@media (max-width: $screen-xs-max) {
  @include oc-responsive-visibility('.oc-visible-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include oc-responsive-visibility('.oc-visible-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include oc-responsive-visibility('.oc-visible-md');
}

@media (min-width: $screen-lg-min) {
  @include oc-responsive-visibility('.oc-visible-lg');
}

// SimpleForm Inline Checkbox Fix
.simple-checkbox .checkbox {
 text-align: left;
 width: auto;
 float: none;
}
.check_boxes:focus, .radio_buttons:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.075), -1px -1px 6px rgba(76, 154, 220, 0.9);
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.075), -1px -1px 6px rgba(76, 154, 220, 0.9);
}

// Div class for viewports on long checkbox lists from simple_form associations.
.scrolling-checkbox-list {
 height: 12em;
 overflow: auto;
}
