// 1-Click default lib. list all 1-Click specific configurable variables and mixins definitions only. No styles.
// this doesn't include bootstrap variables or mixins

/**
 *configurable variables
**/

//header
$is-header-gradient-based: false !default;
$header-background-color: white !default; ////only used when $is-header-gradient-based is false
$header-gradient-start-color: #FAFAFA !default; //only used when $is-header-gradient-based is true
$header-gradient-end-color: #A3A3A3 !default; //only used when $is-header-gradient-based is true

//footer
$footer-height: 40px;
//footer: version row
$is-footer-version-gradient-based: false !default;
$version-background-color: white !default; ////only used when $is-header-gradient-based is false
$version-gradient-start-color: #7DCCE6 !default; //only used when $is-header-gradient-based is true
$version-gradient-end-color: #3681B3 !default; //only used when $is-header-gradient-based is true

//footer: feedback row
$is-footer-feedback-gradient-based: false !default;
$feedback-background-color: white !default; ////only used when $is-header-gradient-based is false
$feedback-gradient-start-color: #F8F02A !default; //only used when $is-header-gradient-based is true
$feedback-gradient-end-color: #CCA23D !default; //only used when $is-header-gradient-based is true

//application fonts
$font-size-base: 12pt !default; //desktop
$font-family-base: Verdana !default; //desktop
$font-size-tablet: 12pt !default;
$font-family-tablet: Verdana !default;
$font-size-phone: 10pt !default;
$font-family-phone: Verdana !default;

//trip planning review page trip itinerary chart
$single-plan-height: 50px !default; //the height of each itinerary chart container

//breadcrumb button colors
//previous-step is same as action-button styles
$breadcrum-current-step-bg-color: red;
$breadcrum-current-step-font-color: white;
$breadcrum-next-step-bg-color: white;
$breadcrum-next-step-font-color: black;

/**
 *mixins
**/
@mixin set-background(
	$is-gradient,
	$bg-color,
	$bg-start-color,
	$bg-end-color ) {
  	@if $is-gradient {
	  background: $bg-start-color;
	  background: -moz-linear-gradient(top,  $bg-start-color 0%, $bg-end-color 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bg-start-color), color-stop(100%,$bg-end-color));
	  background: -webkit-linear-gradient(top,  $bg-start-color 0%,$bg-end-color 100%);
	  background: -o-linear-gradient(top,  $bg-start-color 0%,$bg-end-color 100%);
	  background: -ms-linear-gradient(top,  $bg-start-color 0%,$bg-end-color 100%);
	  background: linear-gradient(to bottom,  $bg-start-color 0%,$bg-end-color 100%);
  	} @else {
  	  background: $bg-color;
  	}
}

@mixin header-background() {
  	@include set-background( $is-header-gradient-based, $header-background-color, $header-gradient-start-color, $header-gradient-end-color);
}

@mixin footer-version-background() {
  	@include set-background( $is-footer-version-gradient-based, $version-background-color, $version-gradient-start-color, $version-gradient-end-color);
}

@mixin footer-feedback-background() {
  	@include set-background( $is-footer-feedback-gradient-based, $feedback-background-color, $feedback-gradient-start-color, $feedback-gradient-end-color);
}


//trip planning review page trip itinerary chart
$single-plan-height: 50px !default; //the height of each itinerary chart container

//colors for trip legs
$trip-leg-bus: #00C000;
$trip-leg-drive: #E45034;
$trip-leg-rideshare: #92D692;
$trip-leg-paratransit: #FFCE81;
$trip-leg-subway: #5D8794;
$trip-leg-tram: #005200;
$trip-leg-rail: #5D8794;
$trip-leg-taxi: #FFD700;
$trip-leg-wait: #C0C0C0;
$trip-leg-walk: #C000C0;
$trip-leg-bicycle: #611CF3;
$trip-leg-bikeshare: #AEF31C;
$trip-leg-unknown: #494D43; //unrecognized leg type or mode
$trip-leg-ferry: #beecfa;
$trip-leg-cable-car: #005200;
$trip-leg-gondola: #005200;
$trip-leg-funicular: #005200;
