.navbar
  %div.responsive-mbp.row-fluid.navbar-inner
    %a.back-button.pull-left{href: back_url}
      .arrow
        .arrow-btn
        %span Back

    %a.start-over-button.start-over-icon.pull-left{href: kiosk_reset_url}
      .arrow
        .arrow-btn
        %span Start Over

    %a.btn.btn-navbar{data: { toggle: 'collapse',  target: '.nav-collapse'}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
        -#<!-- Everything you want hidden at @navbarCollapseWidth or less, place within here -->

    .nav-collapse.collapse.pull-right
      %ul.nav.pull-right
        - if user_signed_in?
          %li= link_to translate_helper_translate(:logout), destroy_kiosk_user_session_path
        %li.call-for-assistance= link_to 'Call for assistance', 'tel://+18447247433'
