.js-tap-timeout-overlay.tap-timeout-overlay.hidden
  .js-counter.big-number

  .timeout-medium
    Are you still using this kiosk?
  .timeout-small
    In
    %span.js-counter
    seconds, this kiosk will return to the home screen
  .timeout-medium.timeout-resume
    Tap anywhere to resume
