.attract-container
  .attract-header
    .oneclick.pull-left
    .penndot.pull-right
      .call-for-assistance= link_to 'Call for assistance', 'tel://+18447247433', class: 'nav-a'
  - @actions.each do |action|
    %a.attract-main.row-fluid{alt: action[:label], href: action[:target]}
      .title Tap anywhere to begin
      .subtitle or
      .login-button-holder
        #login-button.attract-login-button{href: "#"}> Email login
        #ecolane-login-button.attract-login-button{href: "#"} Shared ride login
    %a.attract-footer{alt: action[:label], href: action[:target]}

:javascript
  $('.navbar').hide();

  $('#login-button').on('click', function (e) {
    // Since we the entire space is clickable except for this button, I went with the option of using JS to control the href
    window.location.href = '/kiosk/sign_in';
    return false;
  });

  $('#ecolane-login-button').on('click', function (e) {
    window.location.href = '/kiosk/initialize_ecolane_login';
    return false;
  });
