.row
  .col-sm-6.center
    - @actions.each_slice(2) do |actions|
      .row
        .col-sm-12
          %ul.thumbnails
            - actions.each do |action|
              %li.col-sm-6{:style => "min-height: 124px;"}
                .row
                  %a.col-sm-12.thumbnail.actionbutton{alt: action[:label], title: action[:label], href: action[:target]}
                    .row
                      .col-sm-6
                        %i.center{class: action[:icon], alt: action[:label]}
                      .col-sm-6.actionlabel
                        %p.center= action[:label]

- @actions.each_slice(2) do |action|
  .row
    .col-sm-12
      %ul.thumbnails
        %li.center.col-sm-3
          .row
            %a.col-sm-12.thumbnail.btn.actionbutton{alt: action[:label], title: action[:label], href: action[:target]}
              .row
                .col-sm-3
                  %i.center{class: action[:icon], alt: action[:label], style: 'font-size: 3em;'}
                .col-sm-9.actionlabel{style: 'text-align: left;'}
                  = action[:label]
