- if inline
  .alert.alert-info.alert-block
    .row-fluid
      .span12
        %p
          We noticed you mentioned a disability and/or difficulty walking for certain periods of time.  Would you please tell us more about which accommodations you require for your trip?
    .row-fluid
      .span12
        %a.btn.btn-success{:alt => 'alt words', :title => 'title here', :href => skip_user_planned_trip_path(@traveler, @planned_trip_id)}
          %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
          No thanks, just plan my trip
          / = t(:no_thanks_just_plan_it)
