%h2
  = "To see the best options, tell us about yourself."
  %a.btn.btn-large.btn-warning{alt: 'alt words', title: 'title here', href: skip_user_accommodation_path(@traveler, @user_accommodations_proxy.id)}
    = "Skip this step"
    %i.icon4.icon-arrow-right
%h4
  .well
    = render partial: 'accommodations/form',  :locals => {path: user_accommodation_path(@traveler, @user_accommodations_proxy.id),remote: false}
