.row-fluid
  .span12
    %h1
      / %i.icon.icon-paper-clip
      %i.icon.icon-info-sign
      Needs - Step 2 of 2
      / = t(:to_see_best_options)

.row-fluid
  .well
    = render partial: 'accommodations/form',  :locals => {:path => user_accommodation_path(@traveler, @user_accommodations_proxy.id, inline: 1), :inline => true}
