- if inline
  .alert.alert-info.alert-block
    .row
      .col-sm-12
        %p
          =cms_snippet_contentranslate_helper_translate('gather-program-info_html')
    .row
      .col-sm-12
        %a.btn.btn-success{:alt => 'alt words', :title => 'title here', :href => skip_user_trip_path(@traveler, @trip_id)}
          %i{class: "icon #{CsHelpers::ACTION_ICONS[:plan_a_trip]}"}
          = translate_helper_translate(:no_thanks_just_plan_it)
