%div.responsive-mbp.row-fluid
  .span4.info
    %h1 
      Programs - Step 2 of
      = @total_steps
    %h4 Tell us About Yourself
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, assumenda, minima, soluta rerum voluptatum at ullam consectetur consequatur molestiae veniam vel eius iure recusandae molestias delectus officiis excepturi. Amet, fugiat.
  %div.span8plus.inputs
    .row-fluid.programs-section
      = render partial: 'programs/form',  :locals => {:path => user_program_path(@traveler, @user_programs_proxy.id, inline: 1), :inline => true}

