- i = itinerary
.row-fluid.trip_summary_header
  .span12
    = render partial: 'itinerary_item', locals: {object: i.service.full_name.presence || get_trip_summary_title(i), label: translate_helper_translate(:name)}
    = render partial: 'itinerary_item', locals: {object: i.duration_in_words.presence || 'Unknown', label: translate_helper_translate(:duration)}
    = render partial: 'itinerary_item', locals: {object: i.cost_in_words, label: translate_helper_translate(:cost)}
    / = render partial: 'itinerary_item', locals: {object: i.walking_time, label: translate_helper_translate(:walk_time)}
    / = render partial: 'itinerary_item', locals: {object: i.transfers_in_words, label: translate_helper_translate(:transfers)}
    = render partial: 'itinerary_item', locals: {object: i.notes, label: i.notes_label}
    / translate_helper_translate(:possible_rideshares, count: i.ride_count), label: 'Notes'}
    / = render partial: 'itinerary_item', locals: {object: '', label: 'Book ahead'}
