= image_tag get_logo, :style => "height:30px;margin-top:50px;"
.title-desc
  = t(:site_title)

%hr

%p You have tried to print an invalid trip.

:javascript
  $(document).ready(function() {
    //window.print();
    $('.navbar').addClass('hidden');
    $('.container-fluid').css({
      'background-color':'#fff',
      'width':'220px'
      });
  });
