.tap-timeout-overlay {
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0) image-url("kiosk/CURVY-LINES.png") no-repeat center;
  border:24px solid white;
  z-index: 9999;
  text-align: center;
  font-size:30px;
  padding-top:142px;
  line-height: 1em;

  .big-number {
    font-size: 280px;
    line-height: 1.1;
    font-weight: 700;
  }
  .timeout-medium{
    font-size: 60px;
    font-weight: 700;
    margin-top:5px;
  }
  .timeout-resume{
    margin-top:236px;
  }
  .timeout-small{
    margin-top:40px;
  }
}