- content_for :footer do
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'

- filter = false if local_assigns[:filter].nil?
- export = false if local_assigns[:export].nil?
- columns = [] if local_assigns[:columns].nil?

:javascript
  $(document).ready(function() {
    var oTable = $('#datatable').dataTable( {
            "sDom": "#{%q[<'row'<'col-sm-6' f>>] if filter}<'row'<'col-sm-6'l><'extras col-sm-6'>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>"
    } );
    function exportCsv(mode) {
     var a = document.createElement('a');
     a.href = "#{@url_for_csv}"
     a.target = '_blank';
     document.body.appendChild(a);
     a.click();
    };

    $('#export_visible').click(function(e) {
       e.preventDefault();
       exportCsv("filtered");
    } );

    $('#export_all').click(function(e) {
       e.preventDefault();
       exportCsv("all");
    } );

  } );
