.row
  .col-sm-12
    %table.table.table.condensed.table-striped.table-hover.table-bordered#datatable
      %thead
        %tr
          - columns.each_with_index do |col, index|
            %th
              = t(col)
      %tbody
        - trips.each do |row|
          %tr
            - columns.each_with_index do |col, index|
              %td.nowrap
                = row.is_a?(Hash) ? row[col] : row.send(col)

= render partial: 'shared/simple_datatable_js', 
        locals: {filter: true, export: true, columns: columns, data: trips}

