= link_to translate_helper(:sign_up), new_user_registration_path, class: "btn action-button", "tabindex" => "2"
= link_to translate_helper(:log_in), new_user_session_path, class: "btn action-button", "tabindex" => "2"
