#purposepicker{ :data => {:index => 5}}
  / = f.input :trip_purpose_id, :collection => TripPurpose.all, :label => translate_helper_translate(:trip_purpose), :selected => @trip_proxy.trip_purpose_id, :input_html => {:style => "width:200px;"}
  = f.input :trip_purpose_id

  .span8.offset2
    .title-container
      .bar
      %h3 What is the purpose of your trip?

  %ul.purpose.span8.offset2
    - TripPurpose.all.each do |purpose|
      %li{:name => purpose.id}
        %span
          = I18n.translate_helper_translate(purpose.name)

    / TODO: Add class of selected to li to show state

    / %li
    /   %a{:href => "#"} Training/Employment
    / %li.selected
