#purposepicker{ :data => {:index => 5}}
  = f.input :trip_purpose_id

  .span8.offset2
    .title-container
      .bar
      %h3 What is the purpose of your trip?

  %ul.purpose.span8.offset2
    - @trip_purposes.each do |purpose|
      %li{name: purpose[:id]}
        %span
          = t purpose[:name]
