%div.responsive-mbp.row-fluid
  .span4.info
    %h1 
      = t(:about_you)
    %h4= t(:follow_up_questions)
    %p= t(:follow_up_question_descr)
  %div.span8plus.inputs
    .row-fluid.accommodations-section
      = render partial: 'kiosk/accommodations/form',  :locals => {:path => kiosk_user_accommodation_path(@traveler, @user_accommodations_proxy.id, inline: 1), :inline => true}

