.row.info-header
  .col-sm-12
    .btns.pull-right
      = button_tag type: :submit, id: 'runReporting', class: 'btn action-button controls' do
        = translate_helper_translate(:run)
    %h1
      = translate_helper_translate(:report_parameters)

  :javascript
    $('#runReporting').on('click', function() {
      $('.filter-form').submit();
    });
