%div{:class => "modal hide fade", :id => "user_comments_" + trip.id.to_s}
  %div{:class => "modal-header"}
    .row
      .col-sm-12
        = simple_form_for :trip, url: admin_comments_user_trip_path(@traveler, trip), html: { class: 'form-horizontal',
          id: 'user_comments_form_' + trip.id.to_s}  do |f|
          = f.error_notification
          = f.input :user_comments, :as => :text, label: t(:leave_comments), required: false, :input_html => { :rows => 6 , :style => 'width: 98%', :value => trip.user_comments}
          = button_tag type: :submit, class: 'pull-right btn btn-info' do
            =t(:submit)

:javascript





