.row-fluid
  %h1
    = t(:trips)
    = link_to(t(:plan), new_user_trip_path(@traveler),
      class: "btn btn-default action-button pull-right" )
= render partial: "trips/trips_display_table", locals: {trips: @trips, traveler: @traveler, show_username: true}