= simple_form_for([:admin, @agency]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: t(:name)
    = f.association :parent, collection: @agency.possible_parents, label: t(:parent)

