<script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
<button class="js-call">Call</button>
<button class="js-hangup">Hangup</button>
<div id="log">Loading pigeons...</div>

<script type="text/javascript">
  /* Create the Client with a Capability Token */
  Twilio.Device.setup("<%= @token %>", {debug: true});

  /* Let us know when the client is ready. */
  Twilio.Device.ready(function (device) {
    $("#log").text("Ready");
  });

  /* Report any errors on the screen */
  Twilio.Device.error(function (error) {
    $("#log").text("Error: " + error.message);
  });

  Twilio.Device.connect(function (conn) {
    $("#log").text("Dialing <%= @number %>");
  });

  Twilio.Device.disconnect(function (conn) {
    console.log('Close the window.');
  })

  /* Connect to Twilio when we call this function. */
  function call () {
    Twilio.Device.connect({PhoneNumber: '<%= @number %>'});
  }

  function hangup () {
    Twilio.Device.disconnectAll();
  }

  $('.js-call').on('click', call);
  $('.js-hangup').on('click', hangup);
</script>
