<!-- This file lives in error_404.html.erb -->
.row
  .col-sm-6.col-sm-offset-3
    .dialog
      .row
        .col-sm-2.the-icon-container
          %i.fa.fa-warning-sign.fa-4x.the-icon
        .col-sm-10
          %h1
            = t(:error_404)
      .row
        .col-sm-12
          = t(:error_404_mistyped)
