<!-- This file lives in error_501.html.erb -->
.row-fluid
  .span6.offset3
    .dialog
      .row-fluid
        .span2.the-icon-container
          %i.fa.fa-warning-sign.fa-4x.the-icon
        .span10
          %h1
            = t(:error_not_implemented)
