<!-- This file lives in error_404.html.erb -->
.row-fluid
  .span6.offset3
    .dialog
      .row-fluid
        .span2.the-icon-container
          %i.icon-warning-sign.icon-4x.the-icon
        .span10
          %h1
            = t(:error_404)
      .row-fluid
        .span12
          = t(:error_404_mistyped)
