<!-- This file lives in error_404.html.erb -->
.row
  .span6.offset3
    .dialog
      .row
        .span2.the-icon-container
          %i.fa.fa-warning-sign.fa-4x.the-icon
        .span10
          %h1
            = t(:error_422)
      .row
        .span12
          = t(:error_422_detail)
