// ARC CSS file. Styles only, no variables or mixins definitions.

.characteristics-option-button {
  @extend .btn-default;
  text-shadow: none;
}

.characteristics-option-button.active {
  color: white;
  background-color: black;
  border-color: black;
}