// ARC brand-lib. Variables and mixins definitions only. No styles.

$is-header-gradient-based: true;
$is-footer-version-gradient-based: true;
$is-footer-feedback-gradient-based: true;

$btn-primary-bg: #efa521; 
$btn-primary-color: #333;

$font-family-base: Verdana; 
$font-size-base: 14pt;

$breadcrumb-height: 40px; 