// ARC brand-lib. Variables and mixins definitions only. No styles.

$btn-primary-bg: #FF9306;
$btn-primary-color: white;

$trip-leg-bus: #506DA5;
$trip-leg-rideshare: #8FB681;
$trip-leg-paratransit: #F79441;
$trip-leg-taxi: #E5BE1B;
$trip-leg-wait: #E2E7E1;
$trip-leg-walk: #D11B68;