// ARC brand-lib. Variables and mixins definitions only. No styles.

// For example:
//$dropdown-bg: #666666;
$btn-primary-bg: #efa521; // Controls appearance of action-button as well as btn-primary classes
$btn-primary-color: #333;

//application base font styles
$font-family-base: Verdana; 
$font-size-base: 14pt;

$breadcrumb-height: 40px; 
$single-plan-height: 50px; //the height of each itinerary container