- itineraries.each do |itinerary|
  %li.trip_summary.thumbnail.actionbutton.shadow{:style => 'display:relative;', :id => "ipanel#{itinerary.id}", :tabindex => -1}
    .dialog-title-bar.corner-top{:data => {:action => itinerary_user_planned_trip_path(@traveler, @planned_trip, :itin => itinerary.id)}}
      .row-fluid
        .span12
          %h3.dialog-title{:style => "margin:0px;vertical-align:top;"}
            %i.icon.icon-2x{:class => get_trip_summary_icon(itinerary.mode)}
            = get_trip_summary_title(itinerary.mode)
            - if itinerary.hidden
              %i.icon-2x.icon-thumbs-down.pull-right
            
    .dialog-content{:style => 'padding-left: 10px; padding-right:10px', :data => {:action => itinerary_user_planned_trip_path(@traveler, @planned_trip, :itin => itinerary.id)}}
      .row-fluid
        .span12
          = render :partial => 'trip_summary_header', :locals => { :itinerary => itinerary}
        
    .dialog-footer.corner-bottom
      .row-fluid
        .pull-right
          .span12.btn-toolbar{:style => 'margin-bottom:0;margin-right:5px;'}
            =link_to "#", {:class => "btn btn-mini btn-info", :alt => get_alt_button_text(itinerary, 'select'), :title => get_alt_button_text(itinerary, 'select')} do
              %i.icon-ticket
              =t(:select)
            =link_to itinerary_user_planned_trip_path(@traveler, @planned_trip, :itin => itinerary.id), {:class => "btn btn-mini btn-success", :remote => true, :alt => get_alt_button_text(itinerary, 'view'), :title => get_alt_button_text(itinerary, 'view') } do
              %i.icon-search
              =t(:view)
            =link_to hide_user_planned_trip_path(@traveler, @planned_trip, :itinerary => itinerary), {:class => "btn btn-mini btn-danger", :remote => true, :alt => get_alt_button_text(itinerary, 'remove'), :title => get_alt_button_text(itinerary, 'remove') } do
              %i.icon-remove
              =t(:remove)

      
 
:javascript
  // Capture the panel to get focus
  var focus_panel_id = "ipanel#{@next_itinerary_id}";
  
  $(document).ready(function() {
    // Fix the size and layoout of the thumbnails
    fix_thumbnails();

    // Enable the quick links
    $('[data-action]').click(function() {
      var url = $(this).data('action');
      //alert(url);      
      render_action(url, 'GET');
    });
    // Set the panel focus
    set_focus(focus_panel_id);
  });
  
  $(window).resize(function() {
    fix_thumbnails();
  });
  
  function set_focus(elem_id) {
    //alert(elem_id);
    $(elem_id).focus();
  };
  
  function render_action(url, method) {
    $.ajax({
      type: method,
      url: url,
      beforeSend:function(){
        // this is where we append a loading image
        //$('#ajax-panel').html('<div class="loading"><img src="/images/loading.gif" alt="Loading..." /></div>');
      },
      success:function(data){
        // successful request; do something with the data
        //$('#ajax-panel').empty();
        //$(data).find('item').each(function(i){
        //  $('#ajax-panel').append('<h4>' + $(this).find('title').text() + '</h4><p>' + $(this).find('link').text() + '</p>');
        //});
      },
      error:function(){
        // failed request; give feedback to user
        alert("error trapped");
        $('#messages').html('<div class="alert alert-block"><h4>Warning!</h4>We are sorry but something went wrong. Please try again.</div>');
      }
    });  
  };
  
  function fix_thumbnails() {
    $(".thumbnail").css('height', '');
    $(".thumbnail").css('overflow', '');
    var window_width = $(window).width();
    adjust_thumbnails(window_width);
    make_same_height('.dialog-content', 0);
  };
