%a.span12.actionbutton{alt: get_trip_summary_title(itinerary.mode), title: get_trip_summary_title(itinerary.mode), 'data-toggle'=>'modal', href:"#transitDetails" + itinerary.id.to_s}
  = render :partial => 'trip_summary_header', :locals => { :itinerary => itinerary }

.row-fluid
  .pull-right{:style => "display: inline-block"}
    .span12.btn-toolbar
      =link_to "#", {class: "btn btn-mini btn-info"} do
        %i.icon-ticket
        =t(:select)
      =link_to "#", {class: "btn btn-mini btn-success", 'data-toggle'=>'modal', href:"#transitDetails" + itinerary.id.to_s} do
        %i.icon-search
        =t(:view)
      =link_to hide_user_trip_planned_trip_path(current_user, @trip, @planned_trip, :itinerary => itinerary), {class: "btn btn-mini btn-danger", remote: true} do
        %i.icon-remove
        =t(:remove)

= render :partial => 'trip_details_modal', :locals => { :itinerary => itinerary }
