// Broward brand-lib. Variables and mixins definitions only. No styles.

$btn-primary-bg:#99cc67;
$btn-primary-color: #333;

$header-background-color: #99cc67;
$font-family-sans-serif: "lucida grande","lucida sans unicode",tahoma,verdana,arial,sans-serif;