// JTA brand-lib. Variables and mixins definitions only. No styles.

$btn-primary-bg: #0D497F;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

$breadcrum-current-step-bg-color: #D02A2C;