%a.dropdown-toggle{data: {toggle: 'dropdown', target: '#'}}
  %i.icon.icon-wrench
  = "Admin"
  %b.caret
%ul.dropdown-menu{role: 'menu'}
  - admin_menu.each do |action|
    %li
      = link_to action[:target], method: (action[:method] || 'get') do
        %i.icon{class: action[:icon]}
        = action[:label]
