.col-sm-12
  = button_tag :type => 'button', "data-target" => "#farezoneUploadDialog", "data-toggle" => "modal", :class => "btn action-button pull-right" do
    = t(:upload_farezones)
.col-sm-12#zoneFaresTable
  - zones = FareZone.where(service: fare_structure.service).select(:id, :zone_id).order(:zone_id)
  = render partial: 'services/paratransit_fares/zone_fare_form', locals: {zones: zones}