-# - mileage_fare = fare_structure.mileage_fare || MileageFare.new(fare_structure: fare_structure)
.fare-structure-form-container.type-4{ class: fare_structure.fare_type == 4 ? "" : "hidden" }
  = f.input :taxi_fare_finder_city
