remove_messages();
// Show any new messages
$('#messages').html("#{escape_javascript(render 'shared/messages')}");

$('#eligibility_form').html("#{escape_javascript(render 'devise/registrations/eligibility')}");

