- if inline
  %span#eligibility.row-fluid
    .span8.offset2
      .title-container
        .bar
        %h3
          = translate_helper_translate(:to_see_best_options)

      %a#yes{:href => "#", :name => "yesnopandameat", :value => "yes"} Yes
      %a.js-prevent-double-click#no{:href => skip_kiosk_user_trip_path(@traveler, @trip_id), :name => "yesno", :value => "no"} No
