html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height plus any margins */
  margin: 0 auto -40px;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

#main {
  width: 100%;
  padding-bottom: 40px;
}

@media(max-width:767px){
  #main {
    padding-top: 55px;
  }
  
  #publicNav .container-fluid {
    padding: 0px;
  }
}

@media(min-width:768px){
  #main {
    padding-top: 80px;
  }
}