$footer-height: 40px;

html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height plus any margins */
  margin: 0 auto  $footer-height * -1;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
}

#main {
  width: 100%;
  padding-bottom: $footer-height;
}

@media(max-width:$screen-xs-max){
  #main {
    padding-top: 55px;
  }

  #publicNav .container-fluid {
    padding: 0px;
  }

  #logo{
    width: 370px;
    height: 50px;
    line-height: 50px;
    padding: 0;
  }

  #help i{
    line-height: 50px;
  }
}

@media(min-width:$screen-sm-min){
  #main {
    padding-top: 65px;
  }

  #logo{
    width: 440px;
    height: 60px;
    line-height: 60px;
    padding: 0;
  }

  #help i{
    line-height: 60px;
  }
}
