.place_picker {
  // width: 20em;
}

.twitter-typeahead {
  display: table-cell !important;
}

.tt-dropdown-menu {
  max-height: 20em;
  overflow-y: scroll;
  width: 100%;
}

.tt-suggestion.tt-is-under-cursor a {
  cursor: pointer;
  color: blue;
}

// .trips.new {
//   .form-horizontal {
//     .control-label {
//       width: 100px;
//     }
//     .controls {
//       margin-left: 120px;
//     }
//   }
// }

.plan-a-trip {
  .radio {
    display: inline-block;
  }
  .popover {
    max-width: inherit;
  }
}