// JTA brand-lib. Variables and mixins definitions only. No styles.

$btn-primary-bg: #D92530;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

$breadcrum-current-step-bg-color: #094A84;