// Panels for provider and service forms
.panel.panel-servicedata {
  box-shadow: none;
  margin: 20px 0;

  .panel-heading {
    padding: 10px 0;
  }

  .panel-body {
    border: 1px solid gainsboro;
    padding: 30px 30px 10px;
  }

  .panel-body.tab-pane {
    border-top: none;
  }

  .panel.panel-subpanel {
    box-shadow: none;

    .panel-body {
      border: none;
      padding: 10px 0;
    }
  }

  label {
    font-weight: normal;
    font-size: $font-size-base;
  }

  .form-control {
    border-radius: 0;
    box-shadow: none;
    resize: none;

    &:read-only:not(select) {
      border-color: transparent;
    }
  }

  .btn.btn-svc-data {
    border: 1px solid green;
    border-radius: 10px;
    color: gray;
    min-width: 100px;
    padding: 6px 12px;

    &:hover {
      background-color: limegreen;
      color: white;
    }
  }

  .subtle-text {
    color: silver;
  }
}

button#provider-logo-upload-btn {
  margin-right: 10px;
}

textarea.form-control.text {
  height: 28pt;
}

.logo-display-img {
  max-height: 40px;
  max-width: 40px;
}

.service-details-form {
  // margin: 10px 0 60px;
  padding: 0 0 80px;
  margin: 0 0 40px;
  border-bottom: 1px solid gainsboro;
}
