.form-horizontal
  - collection.each do |c|
    .form-group
      %label.col-sm-7.control-label= t(c.note)
      .col-sm-5
        %p.form-control-static= human_readable(user_characteristics.get_answer_description(c.code))