.row.info-header
  .col-sm-12
    .btns.pull-left
      = link_to translate_helper_translate(:back), reporting_report_path(@report, params: @params), class: 'btn action-button btn-arrow-left'
    .btns.pull-right
      = link_to translate_helper_translate(:export), reporting_report_results_path(@report, params: @params, format: 'csv'), class: 'btn action-button controls'
