- if menu_item[:test].nil? or (menu_item.has_key? :test and menu_item[:test])
  - if menu_item[:divider_before]
    %li.divider.text-left
  %li{role: 'presentation'}
    - unless menu_item.include? :method
      = link_to menu_item[:target], role: 'menuitem' do
        %i.fa{class: menu_item[:icon]}
        = menu_item[:label]
    - else
      = link_to menu_item[:target], method: menu_item[:method], role: 'menuitem' do
        %i.fa{class: menu_item[:icon]}
        = menu_item[:label]  
