// PA/YATA brand-lib. Variables and mixins only. No styles.

// For example:
//$dropdown-bg: #666666;

// $btn-default-bg: #087436;
// $btn-default-color: #eee;
// $btn-default-border: lighten($btn-default-bg, 5%);
$splash-bg: lighten(#087436, 50%);
$btn-primary-bg: #087436;

//application base font styles
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 14px;