.well.well-small
  .row-fluid
    .span3
      %i.icon.icon-building.icon-3x
    .span9
      .caption
        %h4= place.name
      %em
        = place.address.blank? ? place.raw_address : place.address
