.row-fluid
  .span12
    %h1
      %i.icon.icon-map-marker
      = is_traveler ? "#{@traveler.name}'s Places" : "My Places"

.row-fluid
  #places_form.span4
    = render 'places_form'
  #places_map.span8
    = render 'places_map'  
