.row-fluid
  .span12
    %h3 Enter the Location
.row-fluid
  .span12
    = text_field_tag :from_place, '', class: 'place_picker', autocomplete: "off", placeholder: 'Type an Address, or anything Google Maps will accept'

.row-fluid
  .span3
    .row-fluid
      .span12
        %h3 Enter a Name
    .row-fluid
      .span12
        = text_field_tag :place_name, ''
    .row-fluid
      .span12
        .btn.btn-primary.pull-right
          Save
    .row-fluid
      .span12
        %h3 My Places
    .row-fluid
      .span12
        box
    .row-fluid
      .span6
        .btn.btn-primary
          Delete
      .span6
        .btn.btn-primary.pull-right
          Edit

  .span9
    #map{style: 'height: 500px'}
    / = LeafletMap({ :mapid => 'lmap', :markers => @markers, :tile_provider => 'GOOGLEMAP', :min_zoom => 3, :max_zoom => 15, :class => "map", :style => "height:500px;" })

:javascript
  var map = L.map('map', {tile_provider: 'GOOGLEMAP'}).setView([51.505, -0.09], 13);
