removeMatchingMarkers('place_candidate');
$('#select_place').html("#{escape_javascript(render :partial => 'alt_address_select', :locals => {:results => @matches, :type => "place"})}");
- if @matches.count == 1
  select_first_candidate_address();
- else
  create_candidate_markers();  
  $('#select_place').show();

$('#geocoding_indicator').hide();        
setMapToBounds();
