remove_messages();
$('#messages').html("#{escape_javascript(render 'shared/messages')}");
$('#places_form').html("#{escape_javascript(render 'places_form')}");
$('#places_map').html("#{escape_javascript(render 'places_map')}");
