:plain
  OneClick
  ===============================================================================

=yield(:head)

=yield

:plain
  ===============================================================================
  Copyright (c) mycompany.com
  ===============================================================================
  This email is sent from an email address that is not monitored. Please do not
  reply to this message.
  ===============================================================================
