!!!
%html
  %head
    %meta{:content => content_for?(:description) ? yield(:description) : t(:site_description), :name => "description"}
  %body{:class => "#{controller_name} #{action_name}"}
    .email_header
      = yield(:header)
    .email_body
      = yield
    .footer
      %p Copyright(c) mycompany.com
      %p=t(:do_not_reply)
             
