!!!
%html
  %head
    %meta{:content => content_for?(:description) ? yield(:description) : translate_helper(:site_description), :name => "description"}
  %body{:class => "#{controller_name} #{action_name}"}
    .email_header
      = yield(:header)
    .email_body
      = yield
