- if translation_exists?("generic_email_header")
  = t(:generic_email_header)
- else
  %img{src: "#{get_logo_path}"}

%br
= yield
%br

= t(:generic_email_footer).to_s.gsub('%{application_name}', Oneclick::Application.config.name).gsub('%{break}', '</br> ').html_safe
