- if translation_exists?("generic_email_header")
  = translate_helper_translate(:generic_email_header)
- else
  %img{src: "#{get_logo_path}"}

%br
= yield
%br

= make_translation_safe(translate_helper_translate(:generic_email_footer))
