- if TranslationEngine.translation_exists?("generic_email_header")
  = translate_helper(:generic_email_header)
- else
  %img{src: "#{get_logo_path}"}

%br
= yield
%br

//= translate_helper(:generic_email_footer)
