=image_tag(attachments['header_logo.png'].url, height: 75)
:css
  hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }



%br
= yield
%br

//= translate_helper(:generic_email_footer)
