%img{src: "#{get_logo_path}"}
:css
  hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  .mode_title {
    font-weight: bold;
    //font-size: 1.5em;
  }
  
  #details-title {
    font-weight: bold;
    color: #0088cc;
  }
  
  .start_icon {
    color: #51e43f;
  }
  
  .end_icon {
    color: #e41011;
  }
  
  .section_header {
    a, a:hover{
      text-decoration: none;
      color: inherit;
    }
  }
  
  .selected_notices .alert {
    margin-bottom: 0px;
  }
  
  .itinerary_thumbnail_selected {
    border: solid green 1px;
  }
  
  .itinerary_icons {
    text-align: center;
    line-height: normal;
    font-size: 2.25em;
    padding-right: 10px;
  }
  
  .itinerary_icons > img {
    height: auto;
    width: auto;
    max-width: 26px;
    max-height: 26px;
    vertical-align: top;
  }
  
  .itin_text_container {
    padding-left: 5px;
  }

  .transit_details td{
    padding: 16px 5px;  
  }
  .itinerary_text {
    text-align: left;
    font-family: "Helvetica Neue", Arial;
    line-height: 1em;
    padding-left: 8px;
    strong {
      top: 0;
      position: absolute;
    }
  }
  
  .itinerary_text_small{
    font-family: "Helvetica Neue", Arial;
    font-size: 0.87em;
    color: #4862c8;
    text-align: left;
    vertical-align: top;
    padding-top: 8px;
    padding-left: 8px;
  }
  
  @media (min-width: 768px ) {
    .itineraries_holder li {
      min-width: 23em !important;
    }
  }

  .trip_header {
  	padding: 12px 0px;
  	font-family: "Helvetica Neue", Arial;
  }

  .trip_header td{
  	padding-right: 10px;	
  }

  .trip_summary_container{
  	padding: 10px 0px;
  }

  .trip_summary{
  	valign: middle;
  	font-family: "Helvetica Neue", Arial;
  	font-size: 0.88em;
  }

  .trip_summary > img {
    height: auto;
    width: auto;
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
    padding-right: 10px;
  }

  .trip_summary .label{
  	font-weight: bold;
  }

  .seperator {
  	font-size: 0.6em;
  	padding: 0px 12px;
  	color: #b1b1b1;
  }

  

%br
= yield
%br

//= translate_helper(:generic_email_footer)
